<?php

/**
 * @file
 * Database settings.
 */

$databases = array(
  'default' => array(
    'default' => array(
      'database' => '{{ item.db_name }}',
      'username' => '{{ item.db_name }}',
      'password' => "{{ lookup('file', '/tmp/credentials/' + item.db_name + '/mysqlpassword') }}",
      'prefix' => '',
      'host' => 'localhost',
      'port' => '3306',
      'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
      'driver' => 'mysql',
    ),
  ),
);
