---
vagrant:
  synced_folders:
    - host: "/Users/username/Sites/drupal-in-a-day-website/web"
      guest: /var/www/drupal-in-a-day-website/web
      type: nfs
    - host: "/Users/username/Sites/drupal-in-a-day-website/vendor"
      guest: /var/www/drupal-in-a-day-website/vendor
      type: nfs
    - host: "/Users/username/.drush/aliases"
      guest: /etc/drush
ansible:
  reroute_email: username@limoengroen.nl
