<VirtualHost *:{{ apache_port }}>
  ServerAdmin beheer@limoengroen.nl
  DocumentRoot /var/www/default/web

  <Directory "/var/www/default/web">
    Options None
    AllowOverride None
    Require all denied
  </Directory>
</VirtualHost>
